.step{
    display: none;
}

.step:first-child{
    display: block;
}

.createNewProject {
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 40px;
}

.createNewProject h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.title input{
    width: 440px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 18px;
}

.addAuthor {
    display: block;
    position: absolute;
    top: 149px;
    right: 60px;
}

.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.category > *:not(h3){
    margin-left: 55px;
    margin-right: 60px;
}

.category > h3 {
    width: 100%;
}

.category .other {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.area > h3 {
    width: 100%;
}

.nextButton {
    display: block;
    position: absolute;
    right: 60px;
    bottom: 200px;
}

.nextButton button {
    
    color: #61D836;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #61D836;
    background-color: #E8F2FF;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 10px;
    
}

.backButton {
    display: block;
    position: absolute;
    left: 60px;
    bottom: 200px;
}

.createNewProject .submitButton  button{
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #61D836;
    background-color: #61D836;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 10px;
    margin: 0%;
}

.createNewProject .submitButton {
    display: block;
    position: absolute;
    right: 60px;
    bottom: 200px;
}

.backButton button {
    
    color: #00A2FF;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #00A2FF;
    background-color: #E8F2FF;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 10px;
    
}

.showOrHide {
    border: none;
    background: none;
    font-size: 14px;
    color: #000000BF;
}

.automaticFilling {
    display: flex;
    align-items: center;
}

.automaticFilling input {
    height: 16px;
    width: 16px;
    margin: auto;
    margin-right: 5px;
}

.formAddNewAnimal .newAnimal input {
    font-size: 16px;
    font-style: italic;
}

.formAddNewAnimal .text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formAddNewAnimal .chooseCategory {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.formAddNewAnimal .chooseCategory input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 10px;
}

.lastStep {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 800px;
    width: 100%;
}

.gene, .keywords {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addKeyword, .addGene {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Heebo';
    color: #000000;
    margin-bottom: 10px;
}

.gene p, .dataAndResults p {
    width: 500px;
}

.step[data-step="3"], .step[data-step="4"] {
    margin-left: 120px;
}

.step[data-step="3"] input[type="text"], .new-input, .inputLink input, .inputLink2 input {
    width: 230px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #00A2FF;
    margin-bottom: 5px;
    color: #000000;
    font-size: 16px;
    font-family: 'Heebo';
    
}

textarea {
    background: #FFFFFF;
    border: 1px solid #00A2FF;
    margin-bottom: 5px;
}

.keywordInput button, .geneInput button {
    align-self: center;
    color: #000000;
    font-weight: 600;
    background-color: #E8F2FF;
    border-color: #00000000;
}

.geneInput, .keywordInput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    align-items: flex-start;
}

input[type="file"]::-webkit-file-upload-button {
    color: #000000;
    font-size: 16px;
    font-family: 'Heebo';
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #E8F2FF;
    padding: 10px 20px;
    gap: 10px;
}

.chooseSource {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 320px;
    align-items: stretch;
    margin-top: 10px;
}

.inputLink, .inputLink2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

.inputLink input, .inputLink2 input {
    width: 100%;
}

.inputLink, .inputLink ~ div {
    margin-left: 30px;
    margin-top: 5px;
}

.inputLink2 {
    margin-left: 20px;
    margin-top: 5px;
}