@import "fonts";
@import "header";
@import "popups";
@import "registration";
@import "newProject";

body {
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 400;
    background-color: #E8F2FF;
    background-size: 100%;
    
    margin: 0%;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    color: #000;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

body.lock {
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #000;
} 

li{
    list-style-type: none;
}

